<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets 'bundles/theblogblog/css/*' filter='cssrewrite' %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all">
        {% endstylesheets %}
        <link type="text/css" src='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'>
    {% endblock stylesheets %}

    {% block javascripts %}
        {% javascripts 'bundles/theblogblog/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

        <script>
            $(document).ready(function () {
                size_li = $("#myList li").size();
                x=3;
                $('#myList li:lt('+x+')').show();
                $('#loadMore').click(function () {
                    x= (x+1 <= size_li) ? x+1 : size_li;
                    $('#myList li:lt('+x+')').show();
                });
                $('#showLess').click(function () {
                    x=(x-1<0) ? 1 : x-1;
                    $('#myList li').not(':lt('+x+')').hide();
                });
            });
        </script>
    {% endblock javascripts %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Graphic Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
</head>
<body>
<!-- header -->
<div class="banner">
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="index.html">First Symfony Blog</a>
            </div>
            <div class="header-right">
                <ul>
                    <li><a href="#"><i class="fb"> </i></a></li>
                    <li><a href="#"><i class="twt"> </i></a></li>
                    {{ render(controller("TheBlogBlogBundle:Blog:recherche")) }}
                </ul>

            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="head-nav">
            <span class="menu"> </span>
            <ul class="cl-effect-15">
                <li class="{% if app.request.attributes.get('_route') starts with 'theblog_accueil' %}active{% endif %}"><a  href="{{ path('theblog_accueil') }}">HOME</a></li>
                <li class="{% if app.request.attributes.get('_route') starts with 'theblog_about' %}active{% endif %}"><a href="{{ path('theblog_about') }}">ABOUT</a></li>
                <li class="{% if app.request.attributes.get('_route') starts with 'theblog_photo' %}active{% endif %}"><a href="{{ path('theblog_photo') }}">PHOTOS</a></li>
                <li class="{% if app.request.attributes.get('_route') starts with 'theblog_archives' %}active{% endif %}"><a href="{{ path('theblog_archives') }}">ARCHIVES</a></li>
                <li class="{% if app.request.attributes.get('_route') starts with 'theblog_contact' %}active{% endif %}"><a href="{{ path('theblog_contact') }}">CONTACT</a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>

        <!-- script-for-nav -->
        <script>
            $( "span.menu" ).click(function() {
                $( ".head-nav ul" ).slideToggle(300, function() {
                    // Animation complete.
                });
            });
        </script>
        <!-- script-for-nav -->
    </div>
</div>
<!-- header -->

<!-- content -->
{% block body %}{% endblock %}
<!-- content -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 copy">
            <div class="top1">
                <i class="ham"></i>
            </div>
            <div class="top2">
                <h6>Copyrights © 2015 Graphic</h6>
                <p>All rights reserved</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 copy">
            <div class="top1">
                <i class="men"></i>
            </div>
            <div class="top2">
                <h6>Template by: </h6>
                <p><a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 copy">
            <div class="top1">
                <i class="app"></i>
            </div>
            <div class="top2">
                <h6>Images From: </h6>
                <p><a href="#"> www.wallcoo.net</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 copy">
            <div class="top1">
                <i class="lik"></i>
            </div>
            <div class="top2">
                <h6>Admin </h6>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- footer -->
</body>
</html>
