{#% extends "AdminAdminBundle::layout.ajax.html.twig" %#}
{% block stylesheets %}
    {% stylesheets
    'bundles/commoncommon/css/*'
    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" media="all">
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
{% endblock %}

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

<form method="post" action="{{ path('admin_admin_doajoutpage') }}" class="ajaxForm">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
            {% if app.session.flashBag.has('info') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('info') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
                <div class="alert alert-danger"></div>
                <div class="form-group">
                    <label>{{ form_label(formajout.titre,'Titre') }}</label>
                    {{ form_widget(formajout.titre, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label>{{ form_label(formajout.suffix,'Suffix') }}</label>
                    {{ form_widget(formajout.suffix, {'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label>{{ form_label(formajout.contenu,'Contenu') }}</label>
                    {{ form_widget(formajout.contenu, {'attr':{'class':'tinymce'}}) }}
                </div>
                <div class="form-group">
                    <label>{{ form_label(formajout.meta,'Meta dynamique') }}</label>
                    {{ form_widget(formajout.meta, {'attr':{'class':'form-control'}}) }}
                </div>
                {{ form_rest(formajout) }}

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary submitForm" >Save changes</button>
        </div>
    </div>
        </div>
</form>
{{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}