{% extends "AdminAdminBundle::layout.html.twig" %}

{% block title %}
    Liste des Pages
{% endblock %}

{% block theblog_body %}

    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade">
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Liste des pages</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <button class="btn btn-primary glyphicon glyphicon-plus link_ajouter"> Ajouter</button>
                                <table data-toggle="table" data-show-refresh="false" data-show-toggle="false" data-show-columns="false" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                                    <thead>
                                    <tr>
                                        <th data-field="id" data-sortable="true">ID</th>
                                        <th data-field="title"  data-sortable="true">Titre</th>
                                        <th data-field="auteur" data-sortable="true">Auteur</th>
                                        <th data-field="actions" data-sortable="true">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for page in pages %}
                                            <tr>
                                                <td>{{ page.id }}</td>
                                                <td>{{ page.titre }}</td>
                                                <td>{{ page.suffix }}</td>
                                                <td>
                                                    <a href="{{ path('admin_admin_modifierarticle',{'id': article.id}) }}"><span class="btn btn-primary glyphicon glyphicon-pencil"> Editer</span></a>
                                                    <a href="{{ path('admin_admin_supprimerarticle', {'id': article.id}) }}" onclick="return confirm('Etes vous sure de vouloir supprimer l\'article ?')"><span class="btn btn-primary glyphicon glyphicon-minus"> Supprimer</span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->


            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->
{% endblock %}