{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="panel-body">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <fieldset>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    {{ render(url('hwi_oauth_connect')) }}
                </div>
                <div class="form-group">
                    <input  class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>

                <div class="form-group">
                    <input  class="form-control" type="password" id="password" name="_password" required="required" />
                </div>

                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <input  class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </fieldset>
        </form>
    </div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                //appId      : '311144429285690',
                appId      : '311150865951713',
                xfbml      : true,
                version    : 'v2.8'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock fos_user_content %}
