{% extends "TheBlogBlogBundle:Blog:layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block theblog_body %}
    <div class="content">
        <div class="container">
            <div class="load_more">
                <ul id="myList">
                    <!-- These are our grid blocks -->
                    <li>

                        <div class="l_g">
                            {% for article in articles %}

                                <div class="col-md-3 praesent">
                                    <div class="l_g_r">
                                        <div class="dapibus">
                                            <h2>{{ article.titre }}</h2>
                                            <p class="adm">Posted by <a href="#">{{ article.auteur }}</a>  |  7 days ago</p>
                                            <a href="details.html">
                                                {% if article.image.url is defined %}
                                                    <img src="{{ asset('bundles/theblogblog/' ~ article.image.url) }}" class="img-responsive" alt=""></a>
                                                {% endif %}
                                            <p>{{ article.contenu | raw }}</p>
                                            <a href="{{ path('theblog_details',{'id': article.id}) }}" class="link">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                {% if ( loop.index ) % 3 == 0 and loop.index != 0 and loop.index <= 3  %}

                                    <div class="col-md-3 integ">
                                        <div class="l_g_r">
                                            <div class="posts">
                                                <h4>Recent posts</h4>
                                                <h6><a href="#">Aliquam tincidunt mauris</a></h6>
                                                <h6><a href="#">Vestibulum auctor lipsum</a></h6>
                                                <h6><a href="#">Nunc dignissim risus</a></h6>
                                                <h6><a href="#">Cras ornare tristiqu</a></h6>
                                            </div>
                                            <div class="comments">
                                                <h4>Recent Comments</h4>
                                                <h6><a href="#">Amada Doe <span>on</span> Hello World!</a></h6>
                                                <h6><a href="#">Peter Doe <span>on</span> Photography</a></h6>
                                                <h6><a href="#">Steve Roberts <span>on</span> HTML5/CSS3</a></h6>
                                                <h6><a href="#">Doe Peter<span>on</span> Photography</a></h6>
                                            </div>
                                            <div class="archievs">
                                                <h4>Archives</h4>
                                                <h6><a href="#">October 2013</a></h6>
                                                <h6><a href="#">September 2013</a></h6>
                                                <h6><a href="#">August 2013</a></h6>
                                                <h6><a href="#">July 2013</a></h6>
                                            </div>

                                        </div>
                                    </div>
                            {% endif %}
                            {% if ( loop.index ) % 3 == 0 and loop.index != 0 and loop.index > 3 and loop.index <= 3 * 2  %}

                                <div class="col-md-3 integ">
                                <div class="l_g_r">
                                    <div class="categories">
                                        <h4>Categories</h4>
                                        <h6><a href="#">Vivamus vestibulum nulla</a></h6>
                                        <h6><a href="#">Integer vitae libero ac risus e</a></h6>
                                        <h6><a href="#">Vestibulum commo</a></h6>
                                        <h6><a href="#">Cras iaculis ultricies</a></h6>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if loop.index % 3 == 0 and loop.index != 0 %}
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li>
                        <div class="l_g">
                            {% endif %}
                            {% endfor %}
                    <div class="clearfix"></div>
                </ul>
                <div id="loadMore">Load more</div>
                <div id="showLess">Show less</div>

            </div>
        </div>
    </div>

{% endblock %}
